.heckler-container
{
  margin: -12px;
  margin-top: -6px;
}

.heckler-editor header ,
.heckler-editor footer
{
  height: 1.5em;
  line-height: 1.5em;
}

.heckler-editor header
{
  border-bottom: 1px solid #ddd;
}

.heckler-editor footer
{
  border-top: 1px solid #ddd;
}

.heckler-editor header pre ,
.heckler-editor footer pre
{
  margin: 0;
}

.heckler-editor header:before ,
.heckler-editor footer:before
{
  width: 30px;
  margin-right: 4px;
  display: block;
  content: '';
  box-sizing: border-box;
  float: left;
  border-right: 1px solid #ddd;
  background: #f7f7f7;
  height: 100%;
}

.heckler-table
{
  width: 100%;
  border-collapse: collapse;
}

.heckler-table th
{
  text-align: left;
}

.heckler-table th ,
.heckler-table td
{
  border: 1px solid #ddd;
}

.heckler-table th:last-child ,
.heckler-table td:last-child
{
  border-right: none;
}

.heckler-table th:first-child ,
.heckler-table td:first-child
{
  border-left: none;
}

.heckler-table > tr:first-child > th ,
.heckler-table > tr:first-child > td ,
.heckler-table > *:first-child > tr:first-child > th ,
.heckler-table > *:first-child > tr:first-child > td
{
  border-top: none;
}

.heckler-table > tr:last-child > th ,
.heckler-table > tr:last-child > td ,
.heckler-table > *:last-child > tr:last-child > th ,
.heckler-table > *:last-child > tr:last-child > td
{
  border-bottom: none;
}

.heckler-excel
{
  line-height: 30px;
}

.heckler-excel th ,
.heckler-excel td
{
  height: 30px;
  padding: 0;
}

.heckler-excel th
{
  padding: 0 .5em;
}

.heckler-excel input[ type='checkbox' ]
{
  margin-left: auto;
  margin-right: auto;
}

.heckler-excel input[ type='text' ] ,
.heckler-excel input[ type='number' ]
{
  width: 100%;
  height: 1em;


  margin: 0;
  padding: 0 .5em;

  line-height: 1em;

  border: none;
  border-radius: 0;

  background: transparent;

  display: block;
  box-sizing: border-box;

  z-index: 1;
  position: relative;
}

.heckler-hook-used
{
  text-align: center;
}

.heckler-hook-args ,
.heckler-hook-sort ,
.heckler-hook-used ,
.heckler-hook-kill
{
  width: 3em;
}

.heckler-table-conf th ,
.heckler-table-conf td
{
  padding: .5em;
}

.heckler-table-conf pre
{
  display: inline-block;
  background: #eee;
  border-radius: 2px;
  padding: .25em;
  margin: 0 auto;
}

.heckler-table-conf tr:first-child td:first-child
{
  text-align: center;
}

.heckler-hook-kill
{
  position: relative;
}

.heckler-hook-kill span
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: auto;
  height: auto;

  cursor: pointer;

  display: flex;
  position: absolute;

  flex-direction: column;
  justify-content: center;

  background: transparent;
  transition: 200ms ease all;
}


tbody .heckler-hook-kill span:before
{
  content : "\f158";
}

tfoot .heckler-hook-kill span:before
{
  content : "\f132";
}